@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import "partials/navbar";
@import "partials/variables";
@import "partials/welcome";
@import "partials/about";
@import "partials/skills";
@import "partials/projects";

html, body {
    box-sizing: border-box;
    font-family: $font-style;
    color: $font-grey;
    overflow-X: hidden;
  }

a {
    text-decoration: none;
    color: $font-grey;
}

a.button{
    display: inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid $blue;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-weight:300;
    color: $blue;
    text-align:center;
    transition: all 0.2s;
    width: 200px;
    }

    a.button:hover{
    color: white;
    font-weight: 500;
    background-color: $blue;
    transition: 0.5s;
    }

    #scrollBtn{
      position: fixed;
      right: 20px;
      bottom: 20px;
      font-size: 3.5em;
      border-radius: 50%;
      background: white;
      color: lightgrey;
      outline: none;
      cursor: pointer;
      opacity: 0;
      transition: .5s;
      z-index: 50;
      
      &:hover{
        color: $blue;
      }

      &.active{
        opacity: 1;
      }
    }
    
     .title-span{
      border-bottom: 2px solid $blue;
      font-weight: 700;
     }

     .section-title{
       justify-content: center;
       margin-top: 7em;
       margin-bottom: 3em;
     }

    @media only screen and (max-width: 600px) {
      #scrollBtn{
        font-size: 2em;
      }
      #about{
        margin-top: 0em;
      }
  }

footer{
  text-align: center;
  margin-bottom: 2em;
}

#scrollDown{
  position: fixed;
  z-index: 50;
  left: 50%;
  bottom: 20px;
  font-size: 2em;
  color: $font-grey;
  opacity: 0;
  visibility: hidden;
  transition: .5s;

  &.active{
    visibility: visible;
    opacity: 1;
      animation: hvr-icon-down 2.5s linear infinite;
  }

}
//https://ianlunn.github.io/Hover/
@keyframes hvr-icon-down {
  0%,
    50%,
    100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  25%,
    75% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}