@import "./variables";

.about-section{
    margin-left: 30px;
    margin-right: 30px;
    line-height: 2;
    font-weight: 300;
    font-size: 1.1em;

    h5{
        font-weight: 700;
        padding-bottom: 1em;
    }
}


#headshot-img{
    max-width:300px;
    margin: auto;
    margin-bottom: 2em;
    display: block;
}

#listening-song-name, #listening-song-artist{
    font-weight: 600;
    border-bottom: 1px solid $blue;
}

@media only screen and (max-width: 600px) {
    #headshot-img{
      width: 200px;
    }

    .about-section{
        text-align: center;
        margin: 0;

        ul{
            padding-inline-start: 0;
            li{
                margin-top: 1em;
            }
        }
        
        }
    }