@import "./variables";

nav {
    width: 100%;
    margin-top: 1em;

    .button{
        background: $blue;
    }

    a:hover {
        color: $font-grey;
        font-weight: 700;
        text-decoration: none;
        span{
            border-bottom: 2px solid $blue;
        }
    }
}