@import "./variables";

nav {
    width: 100%;
    margin-top: 0.5em;
    li {
        list-style: none;
        margin: 0 1.5vw;
    }
    ul {
        display: flex;
        float: right;
    }

    a:hover {
        color: $font-grey;
        border-bottom: 2px solid $blue;
        font-weight: 700;
        text-decoration: none;
    }
    .navbar-toggle {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .nav-item {
        display: none;
    }
}