@import "./variables";

#skills{
    padding-left: 75px;
    padding-right: 75px;
}

.skills-category{
    .skills-label{
        padding-top: 1em;
        padding-bottom: 1em;
        font-weight: 700;
        color: black;
    }
    ul{
        list-style: none;
        margin: 0;
        padding: 0;
        font-weight: 200;
    }
}

.skill-icon-list{
 display: flex;
  width: 100%;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
    li{
        &:hover{
            color: $blue;
            &>.icon-text{
                color: $blue;
            } 
        }
        .fab, .fas{
            font-size: 4em;
            padding-bottom:3px;
        }
        margin: 1rem;
        width: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .icon-text{
            color: transparent;
        }
    }

}

